@page
@{
    ViewData["Title"] = "Email Confirm";
}
<div id="app" class="container-fluid" v-cloak>

    <div class="card-body register-card-body">
        <p class="login-box-msg">@ViewData["Title"]</p>
        <div class="row">
            <div class="col-md-12 text-center mb-3">
                <h3 class="text-dark">Email Confirm</h3>
                <a asp-page="/Index" class="">
                    <p><i class="fas fa-home me-2 text-warning"></i><span class="text-dark">INDOTALENT</span></p>
                </a>
            </div>
            <div class="col-md-12">
                <p>Please wait...</p>
                <p>Email confirmation is in progress.</p>
                <span class="spinner-border spinner-border-sm me-2"
                      v-if="state.isSubmitting"
                      role="status"
                      aria-hidden="true"></span>
            </div>
        </div>
    </div>

</div>


@section scripts {
    <script src="~/FrontEnd/Pages/Accounts/EmailConfirm.cshtml.js"></script>
}